body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dbdbdb;
  margin: 0;
  font-weight: bold;
  overflow: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}

#main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #dbdbdb;
}

#mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 80%;
  border: solid 1px rgb(161, 160, 160);
  background-color: white;
  padding-top: 10px;
  margin-top: 100px;
}

#mainContent #mainBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
}

#mainContent #mainBoard input{
  width: 268px;
  height: 38px;
  margin: 5px;
  border: solid 1px #d8d8d8;
  outline: none;
}


#mainContent input[type=button] {
  background-color: #4db5f9;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
}

#mainContent #mainBoard .font {
  font-size: 11px;
  font-weight: normal;
}

#mainContent #mainBoard .font a {
  font-weight: bold;
  color: #17629e;
}


#extraLogIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#extraLogIn a {
  all: unset;
  margin: 5px;
  cursor: pointer;
}

#addAccount {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 15px;
  width: 350px;
  height: 80px;
  gap: 3px;
}

#addAccount a {
  color: #4db5f9;
}

#link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

footer {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

footer a {
  color: gray;
}

hr {
  background-color: gray;
  width: 268px;
  height: 1px;
  border: 0;
}
